<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">

    <title>DevDigitizer</title>
  </head>
  <body class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light ">
      <div class="btn-group" role="group">
        <a class="navbar-brand mb-0 mr-10 h1" href="#">DevDigitizer</a>
        <ul class="nav">
          <li class="nav-item">
            <button type="button" class="btn btn-light">
            <a class="nav-link" href="segmentdigitize.html">Segmenter and Digitizer</a>
            </button>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-light">
            <a class="nav-link" href="#">Tool 2</a>
            </button>
          </li>
        </ul>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>



    </nav>
    <p style="margin-top:50px"><h4>
      The DevDigitizer project aims to build a robust Optical Character Recognition Software for Samskritam (Devanagari Script).</h4>
    </p>

      <div id="navbuttons" class="container mr-auto ml-auto  " >


        <div  class="btn-group mx-auto  "  role="group" >
          <ul class="nav" id="navigationmain">


            <li class="nav-item ">
            <button type="button" class="btn btn-lg  " id="button1"><a class="nav-link" href="segmentdigitize.html">Segmenter and Digitizer</a></button></li>
            <li class="nav-item active">
            <button type="button" class="btn btn-lg  " id="button2" ><a class="nav-link" href="#">Tool 2</a></button></li>
          </ul>
        </div>
      </div>

      <hr style="margin-top:4em">

      <h1>About us</h1>
      <br>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>


      <footer class="fixed-bottom container" style="margin-bottom:3em" >
        <hr>
        <ul id="footerlinks" class="mx-auto">
          <li><a href="#">Home</a></li>
          <li><a href="segmentdigitize.html">Segmenter and Digitizer</a></li>
        </ul>
      </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>
