<html>

	<center><h1><strong>
                Welcome to the DevDigitizer Home Page
        </strong></h1></center>

        <hr>
	
        <h2><center>Segmented Page</center></h2>

        <hr>

	<table cellspacing="0px">
		<tr>
			<td>
				<h3><center>Segmented words</center></h3>
			</td>
			<td>
				<h3><center>Segmented letters</center></h3>
			</td>
		</tr>
		<tr>
			<td width="20%">
				<div id='segmented_words'>
					{%for word in range(0,100)%}
						{% set word = word|string + '.png' -%}
						<img src = "{{url_for('upload_words', filename=word)}}">
					{%endfor%}
				</div>
			</td>
			<td width="20%">
				{% for word in range(0,100)%}
					{% for l in range(0, letter_array[word]|length)%}
						{% set letter = word|string + l|string + '.png'%}
						<img src = "{{url_for('upload_letters', filename=letter)}}">
					{% endfor%}
				{%endfor%}	
			</td>
		</tr>
	</table>




</html>
