<!DOCTYPE HTML>
<html>
	<head>
		<title>DevDigitizer</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="main.css" />
	</head>
	<body>



		<!-- Banner -->
			<section id="banner">
				<h2><strong>DevDigitizer Project</strong> aims to build a robust Optical Character Recognition Software for Samskritam (Devanagari Script).</h2>
				<ul class="actions">
					<li><a href="#" class="button special">Get started</a></li>
				</ul>
			</section>

		<!-- One -->
			<section id="one" class="wrapper special">
				<div class="inner">
					<header class="major">
						<h2><strong>Digitize a Sanskrit Page</strong></h2>
					</header>
					<p>Upload an image containing sanskrit text for digitization. The uploaded image will be converted into a word document(docx).</p>
					<div class="features">
						<div class="feature">
							<h3>Segment </h3>
							<form>Select the file you want to Segment 
								<input type="File" name="">
								<input type ="submit">
							</form>
						</div>
						<div class="feature">
							<h3>Digitize</h3>
							<form>Select the file you want to Digitize
								<input type="File" name="">
								<input type="submit">
							</form>
					</div>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style2 special">
				<div class="inner narrow">
					<header>
						<h2>Get in touch</h2>
					</header>
					<form class="grid-form" method="post" action="#">
						<div class="form-control narrow">
							<label for="name">Name</label>
							<input name="name" id="name" type="text">
						</div>
						<div class="form-control narrow">
							<label for="email">Email</label>
							<input name="email" id="email" type="email">
						</div>
						<div class="form-control">
							<label for="message">Message</label>
							<textarea name="message" id="message" rows="4"></textarea>
						</div>
						<ul class="actions">
							<li><input value="Send Message" type="submit"></li>
						</ul>
					</form>
				</div>
			</section>



		<!-- Footer -->
			<footer id="footer">
				<div class="copyright">
					&copy; DevDigitizer. All Rights Reserved.
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>