<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" crossorigin="anonymous">
    
    <!-- Customisation style sheet-->
    <link rel="stylesheet" href="style.css">

    <title>Segmenter and Digitizer</title>
  </head>
  <body class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light " >
      <div class="btn-group" role="group">
        <a class="navbar-brand mb-0 mr-10 pt-2"  href="homepage.html"><h1>DevDigitizer</h1></a>
      </div>
    </nav>

    <!-- Segmentation part -->
    <div class="toolheader">
    <center><h3>Digitize a Sanskrit Page</h3>

    <p>Upload an image containing sanskrit text for digitization. The uploaded image will be converted into a word document(docx).</p></center>
    </div>
    <div id = "image_digitization">


      <table align="center">
      	<tr>
        	<form action = "{{(url_for('image_get'))}}" method = "POST" enctype = "multipart/form-data">
        		<td><input type = "file" id = "pic" name = "page" accept = "image/*"></td>
        		<td style="font-size: 30px;font-weight: bold;"><input type = "submit" value = "Segment"></td>
        	</form>
      	</tr>
      	<tr>
        	<form action = "{{(url_for('image_get'))}}" method = "POST" enctype = "multipart/form-data">
        		<td> <input type = "file" id = "pic" name = "page" accept = "image/*"></td>
        		<td style="font-size: 30px;font-weight: bold;"> <input type = "submit" value = "Digitize"></td>
        	</form>
      	</tr>
      </table>

    </div>

    <!-- Footer -->

      <footer class="fixed-bottom container" style="margin-bottom:3em" >
        <hr>
        <ul id="footerlinks" class="mx-auto">
          <li><a href="homepage.html">Home</a></li>
          <li><a href="#">Segmenter and Digitizer</a></li>
        </ul>
      </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>
